<html>
    <head>
      <title>Reaction Overlay</title>
    </head>
    <style>
        body {
            font-size: 80px;
            overflow: hidden;
        }
        
        img {
            border: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <body>
      EMOJI_HERE
    </body>
  </html>